.color-bongo-rojo {
    background-color: red;
}

.color-bongo-azul {
    background-color: blue;
}

video {
    width: 100%;
    height: auto;
}

body {
    background-color: #282828;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.bg {
    background-image: url("../img/bg.png");
    background-size: cover;
    overflow: hidden;
}

footer {
    background-color: #E51C21;
    text-align: center;
    height: 60px;
    color: black;
    line-height: 60px;
}

.bongo-naranja {
    color: #E51C21;
}