.color-bongo-rojo {
    background-color: red;
}

.color-bongo-azul {
    background-color: blue;
}

video {
    width: 100%;
    height: auto;
}

body {
    background-color: #282828;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.bg {
    background-image: url("../img/bg.png");
    background-size: cover;
    overflow: hidden;
}

footer {
    background-color: #E51C21;
    text-align: center;
    height: 60px;
    color: black;
    line-height: 60px;
}

.bongo-naranja {
    color: #E51C21;
}

.cajon-peruano {
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.primer-portal {
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.btn-primary {
    background-color: #E51C21;
    border-color: #b61719;
}

.btn-primary:active {
    color: #fff;
    background-color: #E51C21;
    border-color: #b61719;
}

.btn-primary:hover {
    background-color: #b61719;
    border-color: #b61719;
}

.btn-primary:focus {
    color: #fff;
    background-color: #b61719;
    border-color: #b61719;
    box-shadow: 0 0 0 0.25rem rgb(182 23 25 / 50%);
}

.bongo-black {
    color: black;
}